*{
margin:0px;
padding:0px;
}

body{

}
.bgimage{

background-image: url('/home/amrutha/Downloads/bbi0s.jpg');
background-repeat: no-repeat;
background-size:40% 100%;
background-position: center center;
height:70vh;
border-bottom:1cm solid black;


}

.menu{
width:100%;
height:2cm;
background-color: rgba(60,60,60,0.5);
position: fixed;
}


.leftmenu img{
width:30px;
height:30px;
float: left;
margin-top:18px;
margin-left:8em;
margin-right:15px;


}


.leftmenu{
width:25%;
 line-height:70px;
 float: left;
}

.leftmenu h2{
padding-left:80px;
font-weight: bold;
color: white;
font-family: sans-serif;
 }


.rightmenu{
width:75%;
height:11px;
float: right;
}



.rightmenu ul{
margin-left:300px;}


.rightmenu ul li{
font-family: sans-serif;
display: inline-block;
list-style: none;
font-size: 15px;
color: white;
font-weight: bold;
line-height:80px;
margin-left:40px;

}

.rightmenu ul li  a:link{
color: white;
text-decoration: none;

}

.rightmenu ul li a:visited{
color: white;
}

.rightmenu ul li a:hover{
color:#ffa550;
}

.part1{
background-color: black;}

#about h5{
text-align: center;
color: red;
}

#about h2{
text-align: center;
color: red;
padding:20px;
}

.text p{
text-align: center;
}

#about{
margin-top:100px;
padding:60px;
color: black;
font-family: sans-serif;
font-size:25px;
background-color:#B2FFFF;
}

.container{ 
 text-align: center;
 line-height:1cm;
margin-left:290px;
margin-right: 290px;}

.border{border-bottom:1.5cm solid rgb(60,60,60);}

#fields{
background-color: white;
font-family: sans-serif;
}

#fields h1{
text-align:  center;
color: black;
font-family: sans-serif;
line-height:2cm;
padding:50px;
 }

.part2{

text-align:  center;
padding:30px;
}

.part2 h4{
padding-bottom:20px;
text-align: center;

}

.f1{
  width: 300px;
  border: 10px solid  #b3ffcc;
  padding: 25px;
  margin: 25px;
 height: 100px;

}

.f2{ 
  width: 300px;
border: 10px solid  #b3ffcc;
  padding: 25px;
  margin: 25px;
 height: 100px;
 }

.f3{ width: 300px;
border: 10px solid  #b3ffcc;
  padding: 25px;
  margin: 25px;
 height: 100px;
}

.f4{ width: 300px;
border: 10px solid  #b3ffcc;
  padding: 25px;
  margin: 25px;
 height: 100px;
}

.f5{
  width: 300px;
  border: 10px solid  #b3ffcc;
  padding: 25px;
  margin: 25px;
 height: 100px;
}

.f6{
  width: 300px;
border: 10px solid  #b3ffcc;
  padding: 25px;
  margin: 25px;
 height: 100px;
}

.f7{
  width: 300px;
 border: 10px solid  #b3ffcc;
  padding: 25px;
  margin: 25px;
 height: 100px;
}

.border2{border-bottom:1.5cm solid rgb(60,60,60,);}
.bgimg2{
background: no-repeat ;
background-size:60% 100%;

height:70vh;
border-bottom:1.5cm solid rgb(60,60,60);
}

.bgimg2 img{
display: block;
margin-left: auto;
margin-right: auto;
width: 100%;	
height:70vh;

}
#part3{
background-color:rgb(0,0,0);
font-family: sans-serif;
border-bottom:1.5cm solid rgb(60,60,60);
background-size:100% 100%;
height:23cm;
background-repeat: no-repeat;

}
#part3 h1{
text-align: center;
color:  #ff3333;
line-height:2cm;
font-family: sans-serif;
}

#part3 h2{

text-align: center;
color:  #ff3333;
line-height:2cm;
font-family: sans-serif;
}



.mySlides {display: none;
vertical-align: middle;
height:400px;

box-shadow:10px 10px 5px rgb(60,60,60,0.3);
width:350px;
border:25px solid rgb(60,60,60,0.5);
padding:25px;
margin:25px;
border-radius:8px;
display: block;
margin-left: auto;
margin-right: auto;
color: white;
}
.myslides img {
display: block;
margin-left: auto;
margin-right: auto;

}




/* Slideshow container */
.slideshow-container {
width:100%;
height:18cm;
position: relative;

font-size:20px;

}
/*
.slideshow-container:hover img{
opacity:1.5;}*/

.slideshow-container h5{
line-height:2cm;
text-align: center;
}

.slideshow-container h6{
text-align: center;}

.slideshow-container p{
text-align: center;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition:  background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade{
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes;; fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.part4 {
background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqdFbNqy3MhXTf-gUtxcQckoX2tdD7GB6UhBVHwHGaFfQbGrhu);
background-size:100% 100%;
height:16cm;
background-repeat: no-repeat;
}
  
.part4 p{
text-align: center;
font-size:1.5em;
font-style: oblique;
font-family: sans-serif;
color: black;
padding:70px;

}

.part4 img{
display: block;
margin-left: auto;
margin-right: auto;
width:2.5em;
height:2.5em;
padding-top:50px;
}

.chief img{
width:245px;
height:219px;

border-radius:50%;
padding:20px;

}

.chief h5,h6{
text-align: center;
color: black;
line-height:1cm;
font-family: sans-serif;

}

.part5 {
background-color:#008b8b;
width:100%;
height:15cm;
color: white;
font-family: sans-serif;
}



.row1{
width:40%;
line-height:1cm;
 float: left;
margin-left:150px;
}

.row1 h2{

margin-top:2cm;
line-height:3cm;


}

.row1 p{
margin-bottom:1.7cm;
}

.row1 a:link,a:visited{
  background-color: red;
  color: white;
  padding: 6px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  
}

.row1 a:hover{
text-decoration: underline;
color: white;

}


.row2{
width:50%;
float: right;
}
.row2 img{
display: inline block;
width:36em;
height:20em;
margin:3cm;}


.row2{
width:50%;
float: left;
}

.inctf{
width:100%;
height:15cm;}

.ini{
width:50%;
float: left;
}

.ini img{display: inline block;
width:35em;
height:15em;
margin-top:3cm;
margin-left:2cm;
}

.int{
width:45%;
line-height:0.8cm;
 float: right;
font-family: sans-serif;



}

.int h2{

margin-top:2cm;
line-height:3cm;
}

.int p{
margin-bottom:1.7cm;
margin-right:170px;
}

.int a:link,a:visited{
  background-color: red;
  color: white;
  padding: 6px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  
}

.int a:hover{
text-decoration: underline;
color: white;

}

.jr{
width:100%;
background-color: #00b3b3;
height:17cm;
}

.jrt h2{

margin-top:2cm;
line-height:3cm;


}

.jrt{
width:40%;
line-height:0.7cm;
 float: left;
margin-left:120px;
font-family: sans-serif;
color: white;

}
.jrt p{
margin-bottom:1.7cm;
}

.jrt a:link,a:visited{
  background-color: red;
  color: white;
  padding: 6px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  
}

.jrt a:hover{
text-decoration: underline;
color: white;

}


.jri{
width:50%;
float: right;
}

.jri img{
display: inline block;
width:36em;
height:20em;
margin:3cm;}

#part6 {
background-color: black;
height:10cm;
color: white;
font-family: sans-serif;

}

 
#part6 h1{
text-align: center;
line-height:2cm;
}

#part6 h2{
text-align: center;
margin-top:1cm;
line-height:1cm;

}

#part6 p{
text-align: center;

}

.ad{

text-align: center;
line-height:1cm;
margin-top:1cm;

}
.em{

text-align: center;
line-height:1cm;

}

.bor{
height:1.5cm;
margin-left: 55em;
margin-right: auto;
margin-top:3em;

}

.bor img{
width:20px;
height:20px;
display: inline-block;



}
